*
{
	margin: 0;
	padding: 0;
	font-family:"SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif; cursive
}
body{
	display:flex;
	justify-content: center;
	background: #f3f3f3;
}

.container{

	position: relative;
	width:1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	margin-top: 8%;
}

.container .card{
	width:308px;
	position: relative;
	height: 400px;
	background: #c5c5c5;
	margin:30px 10px;
	padding: 20px 15px;
	display:flex;
	flex-direction: column;
	box-shadow: 0.5px 10px #bcbbbb;
	transition:0.3s ease-in-out;
	margin-top: 5%;
}
.container .card .imgBx{
	position: relative;
	width:260px;
	height: 260px;
	top: -60px;
	left:20px;
	

}

.container .card .imgBx img
{
	max-width: 100%;
	border-radius: 10px;
}

.imgBx:hover img{
	transform: scale(1.1);
}
.drinkslist  {
	font-size: 12px;
}
.Snackslist {
	font-size: 12px;
}
.pizzaandburgerlist {
	font-size: 12px;
}

